[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
SQLAlchemy = ">=1.4"
python-dotenv = "*"
psycopg2-binary = "*"
rich = "*"

[dev-packages]
pytest = "*"
